body{
  font-size: 16px;
  font-family: "Open Sans";
}

.btn{
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 1.3rem 0;
  width: 11.4rem;
}

button:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

button:active{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

h2{
  font-size: 2.4rem;
  font-weight: bold;
  color: #399bd1;
}

h3{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
}
/* nav */
.navbar-default .navbar-nav>.active>a{
  background-color: #f8f8f8;
  color: #399bd1;
}

.navbar-default .navbar-nav>li>a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-default .navbar-nav>.active>a:hover{
  background-color: #f8f8f8;
}

@media only screen and (max-width: 767px){
  .navbar  img{
    display: none;
  }
}
/* jumbotron text */
.jumbotron{
  width: 100%;
  height: auto;
  padding: 12.5rem 0;
  text-align: center;
  margin-top: 50px;
}

.jumbotron-bike{
  background-image: url('../images/jumbotron-bike.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron-beer{
  background-image: url('../images/jumbotron-beer.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron-flowers{
  background-image: url('../images/jumbotron-flowers.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron-duffel{
  background-image: url('../images/jumbotron-duffel.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron h1, .jumbotron p{
  color: white;
  text-align: center;
  text-shadow: -1px -1px #000, 1px 1px #000, -1px 1px 0 #100, 1px 1px #000;
}

.jumbotron h1{
  font-family: Monoton;
  font-size: 7.5rem;
}

.jumbotron p{
  max-width: 70rem;
  margin: 0 auto;
  padding-bottom: 2.8rem
}

@media only screen and (max-width: 767px){
  .jumbotron{
    margin-top: 135px;
  }
  .jumbotron h1{
    font-size: 5.7rem;
  }
}

/* slider images */

/* featured content */
.projects{
  padding-bottom: 6rem;
}

.image-container{
  overflow: hidden;
  padding-bottom: 3rem;
}

.image-container img{
  opacity: 0.7;
  width: 100%;
  transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover{
  opacity: 1;
  transform: scale(1.5);
}

#product-cat h3{
  color: #399bd1;
}

#product-cat li{
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

/* supporting content */

/* footer */
footer{
  background-color: #f3f3f3;
  text-align: center;
  padding: 6rem 0;
}

footer h1{
  font-size: 2.5rem;
  font-weight: bold;
}

footer p{
  width: 42rem;
  margin: 0 auto;
  padding: 1.5rem;
}
